.HistoryContainer {
    border-right: 1px solid #dfdfdf;
    width: auto;
    background-color: #202123;
}
.HistoryLog {
    height: 75vh;
    background-color: #202123;
    overflow-y: auto;
}
.HistoryButton {
    position: relative;
    background: transparent;
    margin-top: 5px;
    width: 95%;
    padding: 12px;
    color: white;
    height: 50px;
    text-align: left;
}
.HistoryName {
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
    padding-right: 10px;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    border-color: #175ed9;
    color: white;
}
.EditButton {
    background: transparent;
    border-color: transparent;
    float: right;
}
.HistoryButton:hover {
    background-color: #2a2b32;
    background: #2a2b32;
}
.EditButton:hover {
    background-color: #202123;
    background: #202123;
}
.HistoryLog::-webkit-scrollbar {
    width: 10px;
}
.HistoryLog::-webkit-scrollbar-thumb {
    background-color: #444654;
    border-radius: 5px;
}   
.HistoryLog::-webkit-scrollbar-thumb:hover {
    background-color: white;
}