.IndexContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}
.ChatContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #343541;
}
.ChatInputContainer {
    width: 100%;
    min-height: 80px;
    background-color: #343541;
    position: absolute;
    bottom: 0;
    left: 0;
}